

<head>
    <title>Simple Invoicing - Built with AngularJS by Rohan Arihant</title>
    <meta charset='utf-8'>
    <meta name="description" content="AngularJS and Angular Code Example for creating Invoices and Invoicing Application">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/invoice3.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="js/invoice3.js"></script>
</head>
<body ng-app="myApp" ng-controller="cont">
<div class="container" width="800px" id="invoice" >
    <div class="row">
        <div class="col-xs-12 heading">
            <strong>INVOICE</strong>
        </div>
    </div>
    <div class="row branding">
        <div class="col-xs-6">
            <div class="invoice-number-container">
                <label for="invoice-number">Invoice </label><input type="text" id="invoice-number" ng-model="invoice.number" />
            </div>
        </div>


    </div>
</div>
<div class="main1">
    <div class="customer"><input type="text" ng-model="invoice.customer_info.name"></div>
    <div class="company"><input type="text" ng-model="invoice.company_info.name"></div><br>
    <div class="customer"><input type="text" ng-model="invoice.customer_info.web_link"></div>
    <div class="company"><input type="text" ng-model="invoice.company_info.web_link"></div><br>
    <div class="customer"><input type="text" ng-model="invoice.customer_info.address1"></div>
    <div class="company"><input type="text" ng-model="invoice.company_info.address1"></div><br>
    <div class="customer"><input type="text" ng-model="invoice.customer_info.address2"></div>
    <div class="company"><input type="text" ng-model="invoice.company_info.address2"></div><br>
    <div class="customer"><input type="text" ng-model="invoice.customer_info.postal"></div>
    <div class="company"><input type="text" ng-model="invoice.company_info.postal"></div><br><br><br>

    <div ="customer"><select ng-init="currencySymbol=currency_symbol[0]" ng-model="currencySymbol" ng-options="currency.name+' '+currency.currency for currency in currency_symbol" ></select></div>
</div>
<div class="main2" >
    <table border=1 width=100% ><th></th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Cost{{' '+currencySymbol.currency}}</th>
        <th>Total</th>
        <tr ng-repeat="item in invoice.items"><td text-align="center"><a class="btn" href="" ng-click="removeItem()"><strong>[x]</strong></a></td>
            <td><input type="text" ng-model="item.description" placeholder="Description"></td>
            <td><input type="number" ng-model="item.quentity" placeholder="10"></td>
            <td><input type="number" ng-model="item.cost" placeholder="10"></td>
            <td placeholder="0">{{item.quentity*item.cost}}</td>
        </tr>
        <tr><td text-align="center"><a class="btn"  style="background-color:green;" href ng-click="addItem()">[+]</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td ></td></tr>
        <tr><td text-align="center"></td>
            <td></td>
            <td></td>
            <td>Sub Total:</td>
            <td><p>{{subTotal()}}</p>
            </td></tr>
        <tr><td text-align="center"></td>
            <td></td>
            <td></td>
            <td>Tax:<input type="number" ng-model="invoice.tax"></td>
            <td>
                <p>{{calcuteTax()}}</p></td></tr>
        <tr><td text-align="center"></td>
            <td></td>
            <td></td>
            <td>Grand Total:</td>
            <td>
                <p>{{grandTotal()}}</p></td></tr>
    </table>
</div>
</body>
	 